body * {transition:all 0.5s;}
/* header */
header {
    padding:20px 60px; border-bottom:1px solid #000;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
header h1 {}
header h1 a {}
header h1 a img {width:211px;}
header .right_wrap {
    display:flex; flex-flow:row nowrap; gap:100px;
    align-items:center;
}
header .right_wrap .menu {
    display:flex; flex-flow:row nowrap; gap:50px;
}
header .right_wrap .menu li {list-style:none;}
header .right_wrap .icon {
    display:flex; flex-flow:row nowrap; gap:20px;
}
header .right_wrap .icon a {}
header .right_wrap .icon a:nth-of-type(3) {display:none;}
header .right_wrap .icon a img {width:30px;}
/* main */
/* title */
main {}
main #main_title {
    padding:20px 0 0;
}
main #main_title .title_container {
    max-width:1200px; margin:0 auto;
    width:100%; border-bottom:1px solid #ccc;
}
main #main_title .title_container h1 {
    font-size:2.375rem; font-weight:500; line-height:1.5;
}
main #main_title .title_container .bottom_wrap {
    margin:20px 0; display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main #main_title .title_container .bottom_wrap .info {
    display:flex; flex-flow:row nowrap; align-items:center;
}
main #main_title .title_container .bottom_wrap .info a {
    display:flex; flex-flow:row nowrap; align-items:center; gap:10px;
}
main #main_title .title_container .bottom_wrap .info a span {font-size:0.875rem;}
main #main_title .title_container .bottom_wrap .info a span:nth-of-type(1) {}
main #main_title .title_container .bottom_wrap .info a span:nth-of-type(2)::after {
    content:'|'; display:inline-block; margin:0 10px;
}
main #main_title .title_container .bottom_wrap .info a span img {}
main #main_title .title_container .bottom_wrap .info > span {font-size:0.875rem;}
main #main_title .title_container .bottom_wrap #subscription {
    font-size:0.875rem; padding:8px 15px; background-color:#F8F9FA;
    border:1px solid #ccc; border-radius:5px;
}
main #main_title .title_container .bottom_wrap #subscription:hover {
    background-color:#007BFF; color:#fff;
}
/* <!-- 1 --> */
main #news_all {padding:30px 0;}
main #news_all .container {
    max-width:1200px; margin:0 auto;
}
main #news_all .container .top {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main #news_all .container .card {}
main #news_all .container .card h2 {
    font-size:1.25rem; font-weight:600; margin:20px 0;
}
main #news_all .container .card > p {
    margin-bottom:20px; overflow:hidden;
}
main #news_all .container .card > p img {}
main #news_all .container .card1 {width:585px;}
main #news_all .container .card1 > p {}
main #news_all .container .card1 > p:first-child {}
main #news_all .container .card1 > p img {width:585px;}
main #news_all .container .card .contents {width:100%;}
main #news_all .container .card .contents p {
    line-height:1.5;
}
main #news_all .container .card .contents ul {margin:10px 0;}
main #news_all .container .card .contents ul li {
    line-height:1.5; transform:translateX(20px);
}
/* <!-- 2 --> */
main #news_all .container .card2 {width:585px;}
main #news_all .container .card2 > p {}
main #news_all .container .card2 > p:first-of-type {height:395px;}
main #news_all .container .card2 > p img {width:585px;}
/* <!-- 3 --> */
main #news_all .container .card3 {}
main #news_all .container .card3 > p {}
main #news_all .container .card3 > p img {width:1200px;}
main #news_all .container .card3 hr {margin:20px 0;}
main #news_all .container .card3 .sum {}
main #news_all .container .card3 .sum_li {}
/* <!-- footer --> */
footer {padding:50px 0; background-color:#eee;}
footer .footer_wrap {
    max-width:1200px; margin:0 auto;
}
footer h1 {width:211px;}
footer h1 a {}
footer h1 a img {width:100%;}
footer p {font-size:0.875rem;}
footer p:nth-of-type(1) {font-weight:500; margin:20px 0;}